<h1 class="font-bold mb-2 text-center text-lg">{{ title | titlecase }}</h1>

<input
  type="text"
  class="mb-2 border py-2 px-4 w-full"
  placeholder="Filter products..."
  [(ngModel)]="term"
/>

<input
  type="text"
  class="mb-2 border py-2 px-4 w-full"
  placeholder="Filter products by description"
  [(ngModel)]="description"
/>

<input
  type="number"
  class="mb-2 border py-2 px-4 w-full"
  placeholder="Minimum Pages"
  [(ngModel)]="minPages"
/>

<input
  type="number"
  class="mb-2 border py-2 px-4 w-full"
  placeholder="Maximum Pages"
  [(ngModel)]="maxPages"
/>
<select class="mb-2 border py-2 px-4 w-full" [(ngModel)]="genre">
  <option value="">All Genres</option>
  <option value="Fantastic">Fantastic</option>
  <option value="Popular">Popular</option>
  <option value="Children's">Children's</option>
  <option value="Biographies">Biographies</option>
</select>

<ng-multiselect-dropdown
  [placeholder]="'Выбрать автора'"
  [settings]="dropdownSettings"
  [data]="dropdownList"
  [(ngModel)]="selectedAuthors"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
>
</ng-multiselect-dropdown>


<ng-multiselect-dropdown
  [placeholder]="'Выбрать язык'"
  [settings]="dropdownSettings"
  [data]="dropdownList"
  [(ngModel)]="selectedLanguages"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
>
</ng-multiselect-dropdown>


<p *ngIf="loading" class="text-center text-lg">Loading....</p>
<div *ngIf="productsService.products">
<!--  *ngFor="let product of productsService.products | filterProducts: term; let i = index"-->
  <app-product
    *ngFor="let product of productsService.products | filterProducts: term : description : minPages : maxPages : genre : selectedAuthors : selectedLanguages; let i = index"
    [product]="product"
  ></app-product>
</div>

<app-modal *ngIf="modalService.isVisible$ | async" title="Create new Book">
  <app-create-product></app-create-product>
</app-modal>

<button
  class="rounded-full bg-red-700 text-white fixed right-5 bottom-5 py-2 px-4"
  (click)="modalService.open()"
>+</button>
