<div (click)=goToBookDetail(product.id) class="py-4 px-6 border rounded flex items-center flex-col mb-2 cursor-pointer">
  <img class="w-1/6 mb-2" [src]="product.image" alt="product-image"/>
  <h2 class="md-2 text-lg text-center font-bold">{{ product.title }}</h2>
  <p>Автор: <span class="font-medium">{{ product.author }}</span></p>
  <p>Жанр: <span class="font-medium">{{ product.genre }}</span></p>
  <p>Страницы: <span class="font-medium">{{ product.pages }}</span></p>
  <p>Язык: <span class="font-medium">{{ product.language }}</span></p>
  <!--  <button-->
  <!--    class="border py-2 px-4 rounded bg-yellow-400"-->
  <!--    [ngClass]="{-->
  <!--    'bg-yellow-400': !details,-->
  <!--    'bg-blue-400': details-->
  <!--    }"-->
  <!--    (click)="details = !details"-->
  <!--  >-->
  <!--    {{ details ? 'Hide' : 'Show'}} Details-->
  <!--  </button>-->

  <div *ngIf="details">
    <p>{{ product.description }}</p>
  </div>
</div>
