<form (ngSubmit)="onSubmit()" >
  <div class="container">
  <label class="label" for="title">Название:</label>
  <input class="inputForm" type="text" id="title" [(ngModel)]="newBook.title" name="title" required>

  <label for="author">Автор:</label>
  <input class="inputForm" type="text" id="author" [(ngModel)]="newBook.author" name="author" required>

  <label for="description">Описание:</label>
  <input class="inputForm" type="text" id="description" [(ngModel)]="newBook.description" name="description" required>

  <label for="pages"> Число страниц:</label>
  <input class="inputForm" type="number" id="pages" [(ngModel)]="newBook.pages" name="pages" required>

  <label for="language"> Язык:</label>
  <input class="inputForm" type="text" id="language" [(ngModel)]="newBook.language" name="language" required>

  <label for="genre">Жанр:</label>
  <input class="inputForm" type="text" id="genre" [(ngModel)]="newBook.genre" name="genre" required>


  <button class="button" type="submit">Создать книгу</button>
  </div>
</form>
