.container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;}

label{
  display: flex;
  justify-content: center;
  margin: 5px;

}
.selectForLanguage{
  border: 1px solid black;
  width: 180px;
}
.author{
  border: 1px solid black;
  width: 180px;
}
.inputForm{
  border: 1px solid black;
}
.button{
  border: 1px solid black;
  padding: 10px;
  background-color: #ecece3;
  margin-top: 11px;
}
